<section>
  <div class="container">
      <div class="row">
      
          <div class="col-md-8">
            <h4>Congrats <small>Your Vehicle Plate Number is: <em>{{Vehicle.age}}{{DriverLicence.lgaOrigin}}</em></small></h4>
            </div>
      </div>


    <div class="row">
      
      <div class="col-md-8">
        <h3>Vehicle Information</h3>
                <div class="row">
                    <div class="col-sm-4">
                        
                            <label>Full Name</label>
                            <h6>{{Vehicle.fullName}}</h6>
                          
                      </div>

                    <div class="col-sm-4">
                        
                            <label>Upload Purchase Receipt </label>
                            <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.purchaseReceipt}}" alt="Image Not Seen" />
                        
                    </div>
                    <div class="col-sm-4">
                        
                            <label>Proof Of Ownership</label>
                            <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.proofOfOwnership}}" alt="Image Not Seen" />
                        
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                          <label>Means of Identification</label>
                          <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.meansOfIdentification}}" alt="Image Not Seen" />
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                        <label>Passport</label>
                        <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.passport}}" alt="Image Not Seen" />
                    </div>
                  </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Upload Custom Papers</label>
                      <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.customPapers}}" alt="Image Not Seen" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Upload Insurance Papers</label>
                      <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.insurancePapers}}" alt="Image Not Seen" />
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Upload Vehicle Image</label>
                      <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.vehicleImage}}" alt="Image Not Seen" />
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Engine Number</label>
                      <h6>{{Vehicle.vehicleEngineNumber}}</h6>
                    </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>State</label>
                      <h6>{{Vehicle.state}}</h6>
                    </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>L.G.A</label>
                      <h6>{{Vehicle.lga}}</h6>
                    </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Age</label>
                      <h6>{{Vehicle.age}}</h6>
                    </div>
                </div>
              </div>
                
           
      </div>

      <div class="col-md-4">
          <h3>Diver Licence   Information</h3>
          <div class="row">
              <div class="col-sm-6">
                  
                      <label>Full Name</label>
                      <h6>{{DriverLicence.fullName}}</h6>
                    
                </div>

            

              <div class="col-sm-6">
                <div class="form-group">
                    <label>Driver Licence Document</label>
                    <img class="preview" src="/assets/uploads/driverlicence/{{DriverLicence.driverLicenceDoc}}" alt="Image Not Seen" />
                </div>
            </div>
            

          <div class="col-sm-6">
            <div class="form-group">
                <label>State of Origin</label>
                <h6>{{DriverLicence.stateOrigin}}</h6>
              </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
                <label>LGA of Origin</label>
                <h6>{{DriverLicence.lgaOrigin}}</h6>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group">
                  <label>Date Issued</label>
                  <h6>{{DriverLicence.issueDate}}</h6>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Expiry Date</label>
                    <h6>{{DriverLicence.expiryDate}}</h6>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label>Date of Birth</label>
                      <h6>{{DriverLicence.dateBirth}}</h6>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Blood Group</label>
                        <h6>{{DriverLicence.bloodGroup}}</h6>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>Vehcle Category</label>
                          <h6>{{DriverLicence.vehicleCategory}}</h6>
                        </div>
                    </div>

          
        </div>
      </div>
      </div>
    </div>
</section>