<section>
  <div class="container">
    <div class="row">
      
      <div class="col-md-9">
        <h3>Vehicle Information</h3>
                <div class="row">
                    <div class="col-sm-4">
                        
                            <label>Full Name</label>
                            <h6>{{Vehicle.fullName}}</h6>
                          
                      </div>

                    <div class="col-sm-4">
                        
                            <label>Upload Purchase Receipt </label>
                            <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.purchaseReceipt}}" alt="Image Not Seen" />
                        
                    </div>
                    <div class="col-sm-4">
                        
                            <label>Proof Of Ownership</label>
                            <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.proofOfOwnership}}" alt="Image Not Seen" />
                        
                    </div>

                    <div class="col-sm-4">
                      <div class="form-group">
                          <label>Means of Identification</label>
                          <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.meansOfIdentification}}" alt="Image Not Seen" />
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                        <label>Passport</label>
                        <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.passport}}" alt="Image Not Seen" />
                    </div>
                  </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Upload Custom Papers</label>
                      <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.customPapers}}" alt="Image Not Seen" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Upload Insurance Papers</label>
                      <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.insurancePapers}}" alt="Image Not Seen" />
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Upload Vehicle Image</label>
                      <img class="preview" src="/assets/uploads/vehicle/{{Vehicle.vehicleImage}}" alt="Image Not Seen" />
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Engine Number</label>
                      <h6>{{Vehicle.vehicleEngineNumber}}</h6>
                    </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>State</label>
                      <h6>{{Vehicle.state}}</h6>
                    </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                      <label>L.G.A</label>
                      <h6>{{Vehicle.lga}}</h6>
                    </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                      <label>Age</label>
                      <h6>{{Vehicle.age}}</h6>
                    </div>
                </div>
              </div>
                
           
      </div>

      <div class="col-md-6"></div>
      </div>
    </div>
</section>